<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blueprint For Effective Advocacy</a>
    </div>
    <ul class="nav navbar-nav" id="nav-menu-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <h1>Empower. Educate. Activate.</h1>
</div>
<div class="">

</div>
<div class="">

</div>

<div class="">

</div>


<div class="">

</div>

<!-- Youtube Video 'High Profile' -->
<div class="container">
  <div class="row" align="center">
    <ng-youtube-embed video="ac.videoURL" autoplay="true" color="white" disablekb="true" width="800">
    </ng-youtube-embed>
  </div>
</div>

<!-- Choose A Topic -->

<section class="container">
  <div class="row">
    <div align="center">
      <h1 class="step-one">Step 1. Choose One Topic You Care About</h1>
      <div>
        <div ng-controller="ModalCtrl as mc" class="modal-demo">
          <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title">Why Choose One?</h3>
            </div>
            <div class="modal-body" id="modal-body">
              <p>Choosing one is good and stuff.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="mc.ok()">OK</button>
              <!-- <button class="btn btn-warning" type="button" ng-click="mc.cancel()">Cancel</button> -->
            </div>
          </script>
          <button type="button" class="btn btn-default" ng-click="mc.open()">Why Just One?</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<section class="topicCards container">

    <div align="center">
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Racial Justice')">
          <p class="text-center">Racial Justice</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Criminal Justice Reform')">
          <p class="text-center">Criminal Justice Reform</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('LGBTQ')">
          <p class="text-center">LGBTQ</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Reproductive Rights')">
          <p class="text-center">Reproductive Rights</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Healthcare')">
          <p class="text-center">Healthcare</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Education')">
          <p class="text-center">Education</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Workers Right/Equal Pay')">
          <p class="text-center">Worker's Rights/Equal Pay</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Immigration Rights')">
          <p class="text-center">Immigration Rights</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Climate Change and Environment')">
          <p class="text-center">Climate Change and Environment</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Get Involved -->
<section ng-show="ac.getEducated" class="container">
  <div align="center" class="">
    <h1 class="step-one">Step 2. Get Educated. Get Connected.</h1>
    <div class="educated" align="left">
      <h2 align="left" class="steptwo">Create Justice For... {{ac.educationContent.title}}</h2>
      <p align="left" class="whyItMatters"> {{ac.educationContent.summary}}</p>
      <h3 align="left" class="">Get connected with an email to organizations championing {{ac.educationContent.title}}:</h3>
      <!-- <div class="" ng-repeat="org in ac.allOrgs"> -->
      <div class="orginization1"> <p align="left"><h4 align="left">{{ac.educationContent.org1}}</h4><br/> {{ac.educationContent.org1desc}}
        <br/>
        <a href="{{ac.educationContent.org1website}}">{{ac.educationContent.org1website}}<br/>
        </p>
      <a href="mailto:{{vm.educationContent.org1email}}">Send e-mail</a><br/><br/>
      </div>
      <div class="orginization2"><p><h4 align="left">{{ac.educationContent.org2}}</h4>
        {{ac.educationContent.org2desc}}
        <br/>
        <a href="{{ac.educationContent.org2website}}">{{ac.educationContent.org2website}}<br/>
      </p>
      <!-- <img ng-src="{{}}"> -->
      <!-- <a align="left">{{ac.educationContent.org2email}}</p> -->
    <a href="mailto:{{vm.educationContent.org2email}}">Send e-mail</a>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<section ng-show="ac.getEducated" class="container">
  <input class="col-md-10" placeholder="Enter Your Address to Find Your Representatives" type="text" ng-model="address">
  <button class="col-md-2" type="button" ng-click="ac.getReps(address)">Submit</button>
  <h1 ng-show="ac.showReps" class="col-md-12">Your Federal Officials</h1>
    <div ng-repeat="rep in ac.federalOfficials">
      <div class="col-md-3">
        <div class="contactRep">
          <p>{{rep.name}}</p>
          <p>{{rep.phones[0]}}</p>
          <p>{{rep.emails[0]  || rep.urls[0] }}</p>
        </div>
      </div>
    </div>
    <h1 ng-show="ac.showReps" class="col-md-12">Your State Officials</h1>
    <div ng-repeat="rep in ac.stateOfficials">
      <div class="col-md-3">
        <div class="contactRep">
          <p>{{rep.name}}</p>
          <p>{{rep.phones[0]}}</p>
          <p>{{rep.emails[0] || rep.urls[0] }}</p>
        </div>
      </div>
    </div>
</section>



<!--
<h1>Your Federal Officials</h1>
  <div ng-repeat="rep in ac.federalOfficials">
    <div class="col-md-3">
      <div class="contactRep">
        <p>{{rep.name}}</p>
        <p>{{rep.phones[0]}}</p>
        <p>{{rep.emails[0]}}</p>
      </div>
    </div>
  </div>
</section>
