<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blueprint For Effective Advocacy</a>
    </div>
    <ul class="nav navbar-nav" id="nav-menu-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <h1>Empower. Educate. Activate.</h1>
</div>
<div class="">

</div>
<div class="">

</div>

<div class="">

</div>


<div class="">

</div>

<!-- Youtube Video 'High Profile' -->
<div class="container">
  <div class="row" align="center">
    <ng-youtube-embed video="ac.videoURL" autoplay="true" color="white" disablekb="true" width="800">
    </ng-youtube-embed>
  </div>
</div>

<!-- Choose A Topic -->
<section class="topicCards container">
  <div class="">
    <div class="row">
      <div align="center">
        <h1 class="step-one">Step 1. Choose One Topic You Care About</h1>
      </div>
    </div>
    <div align="center">
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Racial Justice')">
          <p class="text-center">Racial Justice</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Criminal Justice Reform')">
          <p class="text-center">Criminal Justice Reform</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('LGBTQ')">
          <p class="text-center">LGBTQ</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Reproductive Rights')">
          <p class="text-center">Reproductive Rights</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Healthcare')">
          <p class="text-center">Healthcare</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Education')">
          <p class="text-center">Education</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Workers Right/Equal Pay')">
          <p class="text-center">Worker's Rights/Equal Pay</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Immigration Rights')">
          <p class="text-center">Immigration Rights</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="issue" ng-click="ac.educate('Climate Change and Environment')">
          <p class="text-center">Climate Change and Environment</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Get Involved -->
<section ng-show="ac.getEducated" class="container">
  <div align="center" class="">
    <h1 class="step-one">Step 2. Get Educated. Get Connected.</h1>
    <div class="educated">
      <h2 align="left" class="steptwo">Create Justice For... {{}}</h2>
      <p align="left" class="whyItMatters"> {{ac.educationContent.summary}}</p>
      <h3 align="left" class="">Get connected with an email to organizations championing {{}}</h3>
      <div class="" ng-repeat="org in ac.allOrgs">
        <p>{{org.name}}</p>
        <img ng-src="{{org.url}}">
      </div>
      <a href="mailto:{org.email}">Send email</a>
    </div>
  </div>
</section>
<section ng-show="ac.getEducated" class="container">
  <input type="text" ng-model="address">
  <button type="button" ng-click="ac.getReps(address)">Submit</button>
  <div ng-repeat="rep in ac.rep">
    <div class="col-md-3">
      <div class="contactRep">
        <p>{{rep.name}}</p>
        <p>{{rep.phones[0]}}</p>
        <p>{{rep.emails[0]}}</p>
      </div>
    </div>
  </div>
</section>
