<!DOCTYPE html>
<html>
<head>
  <title>Blueprint for Advocacy</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="../vendors/angular.min.js"></script>
  <script type="text/javascript" src="../vendors/angular-route/angular-route.min.js"></script>

  <!-- <script src="../vendors/angular-material/angular-animate.min.js" charset="utf-8"></script> -->
  <script src="../vendors/angular-touch/angular-touch.min.js" charset="utf-8"></script>

  <script type="text/javascript" src="../scripts/controllers/advocate.controller.js"></script>
  <script type="text/javascript" src="../scripts/client.js"></script>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap-theme.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>



  <div align="center">
    <h1 align="center">Choose One Topic You Care About</h1>
  </div>

  <div class="issue col-md-3">
    <p class="text-center issueText">Racial Justice</p>
  </div>
  <div class="issue col-md-3">
    <p class="text-center">Criminal Justice Reform</p>
  </div>
  <div class="issue col-md-3">
    <p class="text-center">LGBTQ</p>
  </div>
  <div class="issue col-md-3">
    <p class="text-center">Reproductive Rights</p>
  </div>
  <div class="issue col-md-3">
    <p class="text-center">Healthcare</p>
  </div>
  <div class="issue col-md-3">
    <p class="text-center">Education</p>
  </div>
  <div class="issue col-md-3">
    <p class="text-center">Worker's Rights/Equal Pay</p>
  </div>
  <div class="issue col-md-3">
    <p class="text-center">Immigration Right</p>
  </div>
  <div class="issue col-md-3">
    <p class="text-center">Climate Change and Environment</p>
  </div>
</div>
</body>
