









































































.issue {
  border-radius: 10px;
  margin: 10px;
  height: 150px;
  background-color: #35A7FF;
  border: 2px solid #424C55;
}

.text-center {
  width: 100%;
  font-size: 30px;
  margin-top: 25px;
}
