html, body {
  font-family: 'Montserrat', serif;
}


.navbar{
    border: none;
    width: 100%;
    margin: 0;
    background-color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: fixed;
    z-index: 1;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    background-color: black;
    color: gray
}

#nav-menu-list{
    position: absolute;
    right: 0;
}

.navbar-nav li:hover{
    background-color: black;
    color: gray
}

.nav li:hover{
    background-color: black;
    color: gray
}

.jumbotron{
    background-image: url(../pictures/stairs.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
}

.jumbotron h1{
    position: relative;
    top: 45%;
    transform: translateY(-55%);
}


.step-one {
  font-size: 48px;
}












































.topicCards {
  margin-bottom: 50px;
}





.contactRep {
  background-color: #35A7FF;
  margin-top: 10px;
  min-height: 100px;
}





.educated {
  background-color: #35A7FF;
}

.steptwo {
  margin-top: 20px;
}


.whyItMatters {
  font-size: 25px;

}

p {
  color: black;
}

.issue:hover {
/*  margin-top: 10px;
  height: 150px;*/
  color: white;
  background-color: navy;
}




.issue {
  margin-top: 10px;
  height: 150px;
  background-color: #35A7FF;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.text-center {
  font-size: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.getInvolved {
  background-color: #886F68;
  color: #F8FAFA;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
